body, #slider, .wrap, .slide-content {
    margin: 0;
    padding: 0;
    font-family: 'Questrial', sans-serif;
    width: 100%;
    height: 100vh;
    overflow-x:
}
.wrap {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.slide1 {
    background-image: url(images/img1.jpeg);
}
.slide2 {
    background-image: url(images/img2.jpeg);
}
.slide3 {
    background-image: url(images/img3.jpeg);
}
.slide4 {
    background-image: url(images/img4.jpeg);
}
.slide5 {
    background-image: url(images/img5.jpeg);
}
.slide6 {
    background-image: url(images/img6.jpeg);
}
.slide7 {
    background-image: url(images/img7.jpeg);
}
.slide-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.slide-content span {
    font-size: 5rem;
    color: lightskyblue;
}
.arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -40px;
    width: 0;
    height: 0;
    border-style: solid;
}
#arrow-left {
    border-width: 30px 40px 30px 0;
    border-color:transparent palevioletred transparent transparent;
    left: 0;
    margin-left: 30px;
}
#arrow-right {
    border-width: 30px 0 30px 40px;
    border-color: transparent transparent transparent palevioletred;
    right: 0;
    margin-right: 30px;
}
